.input-group > .icons-login{background-color:#d6e9c6;color:#29915f;}
.oculto{display:none;}
.modal-content > .modal-header{background-color:#d6e9c6;color:#3c763d;}
.glyphicon-remove-circle{font-size:40px;}